<!DOCTYPE html>
<html>
    <head>
      <script src="/stylesheets/jquery.js"></script>
      <script src="/stylesheets/jquery-min.js"></script>
      <script src="/javascripts/RTCMultiConnection.min.js"></script>
      <script src="/javascripts/socket.io.js"></script>
      <script src="/javascripts/RecordRTC.js"></script>     
      <script type="text/javascript" src="/javascripts/connectionInitialisation.js"></script> 
      <script type="text/javascript" src="/javascripts/subscribejourney.js"></script> 
      <script type="text/javascript" src="/javascripts/JoinRoom.js"></script>
      <script type="text/javascript" src="/javascripts/custreceive_vn.js"></script>
      <script type="text/javascript" src="/javascripts/AwaitingBus.js"></script>
      <script src="/stylesheets/bootstrapmin.js"></script>
      <link rel="stylesheet" href="/stylesheets/bootstrapmin.css">
      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
      <% include Navbar_customer.ejs %> 
    </head>

    <body class="text-center">
        <br>
        <br>
        <br>
        <br>
        <div class="form-signin" >
          <h1 style="color: red">List of Journeys Available</h1>
          <br>
          <span>
            <select class="custom-select" style="width:200px" id="journeyslist">
            </select> 
            <button class="btn btn-outline-primary" id="subscribe">Subscribe Now !</button>
         </span>
        </div>
        <br>
        <div id="AlreadyRode" style="visibility: hidden">
          <h1>You already rode this trip! No more voice notes will be sent ! </h1>
        </div>
        <div id="broadcast" style="visibility: hidden">
            <h2 style="text-align: center; color:red"><b>Join Broadcast!</b></h2>
            <br>
            <br>
            <div class="input-group mb-3" style=" margin:0px auto; width : 50%" >
                <input type="text" class="form-control" id="room" placeholder="UniqueRoomID">
                <div class="input-group-append">
                  <button class="btn btn-success" id="join">Join Room </button>
                </div>
            </div>
            <br>
            <br> 
            <span>
              <h2>Update your status when you reach bus! </h2> 
              <button id="AwaitingBus" class="btn btn-secondary">Awaiting Bus</button> 
           </span> 
           <h1 id="rodebusmsg" style="visibility: hidden" >You wont receive anymore broadcasts from driver</h1> 
            <hr>       
        </div>
        <div class="text-center">
            <h3>Voice Notes Broadcasted by driver</h3>
            <div id="remote">

            </div>
        </div>
        
    </body>
</html>
