<!DOCTYPE html>
<html>
    <head>
      <script src="/stylesheets/jquery.js"></script>
      <script src="/stylesheets/jquery-min.js"></script>
      <script src="/javascripts/RTCMultiConnection.min.js"></script>
      <script src="/javascripts/socket.io.js"></script>
      <script src="/javascripts/RecordRTC.js"></script>     
      <script type="text/javascript" src="/javascripts/connectionInitialisation.js"></script>  
      <script type="text/javascript" src="/javascripts/record.js"></script>   
      <script type="text/javascript" src="/javascripts/OpenRoom.js"></script>
      <script src="/stylesheets/bootstrapmin.js"></script>
      <link rel="stylesheet" href="/stylesheets/bootstrapmin.css">
      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
      <% include Navbar_driver.ejs %> 
    </head>

    <body>
        <br>
        <br>
        <br>
        <h1 style="text-align: center; color:red"><b>Initiate Broadcast !</b></h1>
        <br>
        <br>

        <div class="input-group mb-3" style=" margin:0px auto; width : 50%" >
            <input type="text" class="form-control" id="room" placeholder="UniqueRoomID">
            <div class="input-group-append">
              <button class="btn btn-success" id="open" type="submit">Open</button>
            </div>
        </div>
        <br>
        <br>
        <div class="text-center">
          <button  class="fa fa-microphone btn btn-success btn-lg" id="btnStartRecording" style="visibility:hidden"></button>
          <button  class="fa fa-stop btn btn-danger btn-lg" id="btnStopRecording" style="visibility:hidden"></button>
       </div>       
        <hr>
        <div class="text-center">
            <h3>Voice Notes Recorded Successfully for this broadcast</h3>
            <div id="local">

            </div>
       </div>
    </body>
</html>
