<!DOCTYPE html>
<html>
    <head>
      <script src="/stylesheets/jquery.js"></script>
      <script src="/stylesheets/jquery-min.js"></script>
      <script src="/stylesheets/bootstrapmin.js"></script>
      <link rel="stylesheet" href="/stylesheets/bootstrapmin.css">
      <link rel="stylesheet" href="/stylesheets/style.css">
      <script src="/javascripts/SignIn.js"></script>
    </head>

    <body class="text-center">
        

        <div class="alert alert-danger" id ="alert" style="visibility:hidden">
                <strong>Invalid </strong>Username or Password.
        </div>
        <button class="btn btn-lg btn-success">Careem</button>
        <form class="form-signin">
            <label for="inputUsername" class="sr-only">Username</label>
            <input type="text" id="inputUsername" class="form-control" placeholder="Username" required="" autofocus="">
            <br>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
            <br>
            <select class="custom-select" id="TypeSelect">
                    <option value="none" selected>Sign in as...</option>
                    <option value="driver">Driver</option>
                    <option value="customer">Customer</option>
            </select>
            <br>
            <br>
            <button class="btn btn-lg btn-outline-success btn-block" id="signin" type="submit">Sign in</button>
            <p class="mt-5 mb-3 text-muted">© 2019</p>
        </form>
    </body>
</html>