<!DOCTYPE html>
<html>
    <head>
      <script src="/stylesheets/jquery.js"></script>
      <script src="/stylesheets/jquery-min.js"></script>
      <script src="/javascripts/RTCMultiConnection.min.js"></script>
      <script src="/javascripts/socket.io.js"></script>
      <script src="/javascripts/RecordRTC.js"></script>
      <script type="text/javascript" src="/javascripts/voicenote.js"></script>

    </head>
    <body>

        <input id="room" placeholder="UniqueRoomID">

        <button id="openorjoin">
        OpenOrJoin
        </button>

        <button id="btnStartRecording" style="visibility:hidden">
        Start
        </button>

        <button id="btnStopRecording" style="visibility:hidden">
        Stop
        </button>

        <hr>
        <div id="local">

        </div>

        <hr>

        <div id="remote">

        </div>
    </body>
</html>
